services:
  backend:
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app

  frontend:
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev
