# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Test files
.pytest_cache/
app/tests/

# Environment files
.env
.env.*

# IDE files
.vscode/
.idea/

# Local development files
*.db
*.sqlite3
