alembic
bcrypt
email-validator
fastapi
httpx
passlib[bcrypt]
psycopg2-binary
pydantic-settings
pytest
pytest-mock
python-jose[cryptography]
python-multipart
redis
diskcache
sqlalchemy
sqlalchemy-utils
typer
uvicorn[standard]
yfinance
tenacity
cryptography
pyxirr
numpy
pyarrow
pyinstaller
requests
