alembic==1.13.1
bcrypt==3.2.2
email-validator
fastapi==0.111.0
httpx
passlib
psycopg2-binary
pydantic-settings
pytest
pytest-mock
python-jose[cryptography]
python-multipart
redis
sqlalchemy==2.0.30
sqlalchemy-utils
typer
uvicorn[standard]==0.29.0
yfinance
